**/.godot/
**/*.import
*.apk
*.idsig
*.zip
*.exe
*.p12
*.jks
*.keystore
work/
artifacts/
**/.DS_Store
**/Thumbs.db
game/export_templates/
game/feature_profiles/
game/script_templates/
game/text_editor_themes/
game/docs/*.png
